.mensaje {
    width: 60%;
    margin-bottom: 12px;
    padding: 8px 10px;
    border-radius: 10px;
    clear: both;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.mensaje-derecha {
    background-color: #76daab;
    float: right;
    border-bottom-right-radius: 0px;
}

.mensaje-izquierda {
    background-color: #e7e5ee;
    float: left;
    border-bottom-left-radius: 0px;
}

.author {
    font-weight: 600;
    font-size: 12px;
}

.content {
    font-size: 13px;
    margin-bottom: 8px;
}

.date-status {
    font-size: 11px;
    color: #888;
    position: absolute;
    bottom: 0;
    right: 20px;
}

.status-visto {
    color: #2ebee2e9;
}
