.mensaje {
    padding: 10px;
    margin: 5px 10px;
    border-radius: 5px;
}

.yo {
    background-color: #3DC2EC;
    color: #fff;
    align-self: flex-start;
    border-radius: 5px;
    padding: 5px;
    font-size: small;
}

.otro {
    background-color: #536493;
    align-self: flex-end;
    border-radius: 5px;
    padding: 5px;
    font-size: small;
}

.author {
    font-weight: bold;
}

.content {
    margin: 5px 0;
}

.date-status {
    font-size: 0.8em;
    color: #888;
}

.status-visto {
    color: rgb(2, 195, 221);
}
