


.colors-card .colors{
    width: 100%;
    height: 250px;

    border-radius: 10px;
    overflow: hidden;
}
.color-card .colors .color{
    display: flex;
    align-items: end;
}
.color-card .colors .color span{
    color: #E6E6E6;
    background-color: rgba(169, 139, 139, 0.295);
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 15px;
    border-top-right-radius: 5px;
    opacity: 0;
}




