.pantalla-principal {
    background-image: url(./assets/imagenes/whatsappblack.png);
    background-position: center;
    height: 600px;
    width: 420px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.informacion-de-contacto {
    background-color: #4C3BCF;
    height: 100px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
.foto-perfil {
    background-image: url(./assets/imagenes/canario.webp);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 100%; 
    border: 2px solid #fff;

}

.informacion-de-contacto .iconos {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.informacion-de-contacto .iconos i {    
    color: #fff;                
    font-size: 20px;
}

.informacion-de-contacto .foto-perfil {
    display: flex;  
    align-items: center;
    gap: 15px;
}


.informacion-de-contacto {
    font-size: 22px;
    color: #fff;

}

.informacion-de-contacto .nombre-contacto {
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
}


.escribir-mensaje {      
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: auto;
    height: 37.6px;
    margin: 0px 10px 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 14px;
}

.escribir-mensaje input[type="text"] {
    flex: 1; 
    margin-left: 10px; 
    border: none;
    outline: none;
    padding: 0px 10px 0px 0px;
}

.escribir-mensaje i {
    font-size: 24px;
    color: #2a2a2a;
    margin-left: 15px;
}

.iconos-abajo-der {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 22px;
    color: #2b2929;
}


.mensajes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.send{
    display: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 10px;
    font-size: 10px;
    color: aqua;
    border: none;
    outline: none;
    background-color: none;
    border-radius: none;
}